@font-face {
    font-family: 'futura_md_btmedium_italic';
    src: url('futurami-webfont.eot');
    src: url('futurami-webfont.eot?#iefix') format('embedded-opentype'),
         url('futurami-webfont.woff2') format('woff2'),
         url('futurami-webfont.woff') format('woff'),
         url('futurami-webfont.ttf') format('truetype'),
         url('futurami-webfont.svg#futura_md_btmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_lt_btlight_italic';
    src: url('futultit-webfont.eot');
    src: url('futultit-webfont.eot?#iefix') format('embedded-opentype'),
         url('futultit-webfont.woff2') format('woff2'),
         url('futultit-webfont.woff') format('woff'),
         url('futultit-webfont.ttf') format('truetype'),
         url('futultit-webfont.svg#futura_lt_btlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_md_btbold';
    src: url('futubd-webfont.eot');
    src: url('futubd-webfont.eot?#iefix') format('embedded-opentype'),
         url('futubd-webfont.woff2') format('woff2'),
         url('futubd-webfont.woff') format('woff'),
         url('futubd-webfont.ttf') format('truetype'),
         url('futubd-webfont.svg#futura_md_btbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_md_btbold_italic';
    src: url('futubdit-webfont.eot');
    src: url('futubdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('futubdit-webfont.woff2') format('woff2'),
         url('futubdit-webfont.woff') format('woff'),
         url('futubdit-webfont.ttf') format('truetype'),
         url('futubdit-webfont.svg#futura_md_btbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_lt_btlight';
    src: url('futult-webfont.eot');
    src: url('futult-webfont.eot?#iefix') format('embedded-opentype'),
         url('futult-webfont.woff2') format('woff2'),
         url('futult-webfont.woff') format('woff'),
         url('futult-webfont.ttf') format('truetype'),
         url('futult-webfont.svg#futura_lt_btlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_md_btmedium';
    src: url('futuram-webfont.eot');
    src: url('futuram-webfont.eot?#iefix') format('embedded-opentype'),
         url('futuram-webfont.woff2') format('woff2'),
         url('futuram-webfont.woff') format('woff'),
         url('futuram-webfont.ttf') format('truetype'),
         url('futuram-webfont.svg#futura_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futuralightregular';
    src: url('futuralight-webfont.eot');
    src: url('futuralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('futuralight-webfont.woff2') format('woff2'),
         url('futuralight-webfont.woff') format('woff'),
         url('futuralight-webfont.ttf') format('truetype'),
         url('futuralight-webfont.svg#futuralightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}